<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">Egy<span style="color: rgb(63, 63, 245);">Best</span></a>
    <ul class="navbar-nav ml-auto listMenu">
        <li class="nav-item active">
            <a class="nav-link">Home
                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">TV Shows</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Genres</a>
        </li>
    </ul>

</nav>
