
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #555;
    color: #fff;
  }
  